*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.recieptcontainer{
    height: 38pc;
    /* width: 27pc ; */
}
span{
    font-size: 14px;
}
@media (max-width:600px) {
    .recieptcontainer{
        height: 44pc;
       
    }
}
